html {
    text-align: center;
    font-family: Monaco;
    background-color: bisque;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    background-color: white;
    border: 1px solid black;
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 550px;
    width: 550px;
    margin: 20px auto;

}

.buttons,
.user-input {
    margin: 10px;
}